.center{
  text-align:center;
  margin:auto;
}
.left{
  text-align:left;
}
.card-img-top{
  width:250px;
  height:250px;
}
.col-sm-4{
  padding-top:3em;
}

.btn-dark{
  color: #fff;
background-color: #343a40;
border-color: #343a40;
}
.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}