.center{
  text-align:center;
  margin:auto;
}
.card-img-top{
  width:250px;
  height:250px;
}
.col-sm-4{
  padding-top:3em;
}

.btn-dark{
  color: #fff;
background-color: #343a40;
border-color: #343a40;
}